/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<i class="icon-home"></i>
```
*/

/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<i class="icon-home"></i>
```
*/
.icon-back {
  background-image: url(../../../build/assets/sprites.png);
  background-position: 0px 0px;
  width: 259px;
  height: 54px;
}
